* {
    /* margin-right: 0;
    padding: 0; */
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
      margin: 0;
    padding: 0;

}

.contener {
    width: 100%;
    height: 100vh;

}

.header__logo {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: rgb(2, 2, 56);
    text-align: center;
    align-items: center;
    gap: 30px;

}

.logo__img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    border-radius: 50%;
}

/* < Playwrite Cuba Guides > */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&display=swap');

.logo {
    font-size: 50px;
    color: rgb(5, 5, 251);
    font-family: "Playwrite CU Guides", cursive;
}

.fa-telegram {
    font-size: 30px;
    color: white;

}

.fa-instagram {
    font-size: 30px;
    color: white;
}

.header__ul {
    display: flex;
    gap: 100px;
    margin-left: 100px;
    font-size: 20px;
    list-style: none;
}

.a {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 10px;
    font-family: "Playwrite CU Guides", cursive;
}

.header__btn {
    padding: 5px 10px;
    margin-left: 50px;
    font-size: 20px;
    color: blue;
    border-radius: 20px;
    border: none;
    font-family: "Playwrite CU Guides", cursive;
}

.header__img {
    width: 100%;
    height: 1000px;
}


@media screen and (max-width: 800px) {
    .header__logo {
        height: auto;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .logo__img {
        margin-left: 0;
    }

    .header__ul {
        display: none;
    }

    .logo {
        font-size: 30px;
    }

    .header__img {
        width: 100%;
        height: auto;
    }

    .header__btn {
        margin-left: 0;
    }
}

.one {
    width: 100%;
    height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid blue;
    margin-top: 50px;
    box-shadow: inset 0 0 45px 10px rgba(0, 0, 0, 1);
}

.one__logo {
    margin-top: 80px;
    font-size: 50px;
    color: rgb(5, 5, 251);
    font-family: "Playwrite CU Guides", cursive;
}

.one__one {
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    display: flex;

}
.one__first{
    width: 380px;
    height: 380px;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    border: 5px solid green;
    border-radius: 30px;
    margin-top: 250px;
    box-shadow:  0 0 25px 1px rgba(0, 0, 0, 1);
    background-color: rgb(8, 210, 210);
     /* box-shadow: inset 0 0 25px 1px rgba(0, 0, 0, 1); */
}
.second{
width: 500px;
}
.first__paragref{
      font-family: "Playwrite NZ Basic", cursive;
    width: 100%;
    margin-left: 20px;
    font-size: 40px;
    color: blue;
}
.first__paragrefe{
      font-family: "Playwrite NZ Basic", cursive;
    width: 100%;
    margin-left: 20px;
    font-size: 40px;
    color: #C0C0C0;
}
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
.first__paragreff{
      font-family: "Playwrite NZ Basic", cursive;
    width: 100%;
    margin-left: 20px;
    font-size: 40px;
    color: green;
}
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
.first__li{
    font-size: 24px;
    font-family: "Arimo", sans-serif;
    color: #2D3436;
}
.first__btn{
    margin-left: 80px;
    margin-top: 15px;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
background-color: rgb(199, 161, 65);
font-size: 20px;
color: rgb(55, 55, 167);
background-color: blue;
    color: aquamarine;
}
.first__btn:hover{
   color: rgb(55, 55, 167);
   background-color: rgb(199, 161, 65);
}
.first__btnn{
     margin-left: 120px;
    margin-top: 45px;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
background-color: rgb(199, 161, 65);
font-size: 20px;
color: rgb(55, 55, 167);
background-color: blue;
    color: aquamarine;
}
.first__btnn:hover{
       color: rgb(55, 55, 167);
   background-color: rgb(199, 161, 65);
}

@media (max-width: 800px) and (min-width: 300px) {
    .one {
        display: flex; 
        height: auto; 
        min-height: 100vh;
        padding: 40px 10px;
        margin-top: 20px;
    }

    .one__one {
        display: flex;
        flex-direction: column; 
        height: auto;
        gap: 40px; 
        margin-top: 50px;
    }

    .one__first {
        width: 95%;
        height: auto; 
        min-height: 350px;
        margin-top: 0; 
        padding: 30px 15px;
        text-align: start; 
    }

    .second {
        width: 95%;
    }

    .one__logo {
        font-size: 32px;
        margin-top: 20px;
        line-height: 1.2;
    }

    .first__paragref, 
    .first__paragrefe, 
    .first__paragreff {
        font-size: 26px;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    .first__li {
        font-size: 18px;
        list-style: none;
        margin-bottom: 10px;
    }

    .first__btn, 
    .first__btnn {
        width: 80%;
        margin: 20px auto 0 auto; 
        display: block;
        font-size: 18px;
    }
}

