* {
    /* margin-right: 0;
    padding: 0; */
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.contener {
    width: 100%;
    height: 100vh;
}

.header__logo {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: rgb(2, 2, 56);
    text-align: center;
    align-items: center;
    gap: 30px;

}

.logo__img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    border-radius: 50%;
}

/* < Playwrite Cuba Guides > */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&display=swap');

.logo {
    font-size: 50px;
    color: rgb(5, 5, 251);
    font-family: "Playwrite CU Guides", cursive;
}

.fa-telegram {
    font-size: 30px;
    color: white;

}

.fa-instagram {
    font-size: 30px;
    color: white;
}

.header__ul {
    display: flex;
    gap: 100px;
    margin-left: 100px;
    font-size: 20px;

}

.a {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 10px;
    font-family: "Playwrite CU Guides", cursive;
}

.header__btn {
    padding: 5px 10px;
    margin-left: 50px;
    font-size: 20px;
    color: blue;
    border-radius: 20px;
    border: none;
    font-family: "Playwrite CU Guides", cursive;
}

.header__img {
    width: 100%;
    height: 1000px;
}


@media screen and (max-width: 800px) {
    .header__logo {
        height: auto;
        padding: 20px;
        flex-wrap: wrap; 
        justify-content: center;
        gap: 15px; 
    }

    .logo__img {
        margin-left: 0;
    }

    .header__ul {
        display: none; 
    }

    .logo {
        font-size: 30px; 
    }

    .header__img {
        width: 100%;
        height: auto;
    }
    
    .header__btn {
        margin-left: 0; 
    }
}

